* {
    margin: 0;
    padding: 0;
    transition-duration: 200ms;
    /*border: 1px solid;*/
}

.bold {
    font-weight: 1000;
}

.background-image>h1 {
        
    font-size: 50px;

}
.background-image>p {
font-size: 25px;
}

body {
    background-color: rgb(218, 198, 172);
    min-height: 100vh;

}

.background-image>h1 {
    margin-top: 35px;
    margin-bottom: 6px;

}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-height: 1000px;
}

.divider-large {
    height: 6vh;
    background-color: black;
    position: sticky;
    top: 0px;
    padding:10px 0 5px 0;
    width: 100%;

}

nav>ul {
    display: flex;
    justify-content: space-between;
    color: rgb(218, 198, 172);
}

nav>ul>li {
    list-style-type: none;
    text-align: center;
    color: rgb(218, 198, 172);
    cursor: pointer;
    letter-spacing: 3px;
    width: 40%;
    font-size: 4.5vh;
    overflow: hidden;



}

li>a {
    text-decoration: none;
    color: inherit;
}



li:hover {
    opacity: 0.8;
    background-color: rgb(218, 198, 172);
    color: black;
    cursor: pointer;
    transform: scale(1.1)
    
}

.background-image {
    height: 100vw;
    max-width: 100%;
    background-image: url("https://lh3.googleusercontent.com/drive-viewer/AKGpihYSNBB2Cb9xmn8m6hVtoQ_56zJ2XniMpgscjKxDeFtvZDVduZ0DKShwiMXmNJXKqAtoLxqwddt3VSjASp4FAlqkfTGLrA=s1600");
    background-repeat: no-repeat;
    background-size: cover;

}

h2 {
    text-align: center;
    background-color: rgb(125, 74, 45);
}



.images1 img,
.images2 img,
.images3 img {
    width: 100%;
}






@media only screen and (min-width: 1350px) {
    .background-image {
        background-size: 1350px;
        background-position: center top;

    }
}

@media only screen and (max-width: 1100px) and (min-width: 750px){
    .background-image>h1,
    .background-image>p {
        margin-top: 25px;
        margin-bottom: -20px;
        margin-left: 150px;
}

}

@media only screen and (max-width: 900px) {
    li:hover {
        transform: scale(1)    
    }
}

@media only screen and (max-width: 800px) {

    .background-image>h1,
    .background-image>p {
        margin-top: 25px;
        margin-bottom: -20px;
        margin-left: 90px;
        
    }
    .background-image>h1{
        font-size: 45px;
    }
    .background-image>p {
        font-size: 21px
    }
    
}

